#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = task_manager
database.default.username = username
database.default.password = password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

